* {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
  }
}

.App {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  @media screen and (max-width: 740px) {
    flex-direction: column;
    &.mt {
      margin-top: 54px;
    }
  }
}

.Content {
  flex: 1;
  box-sizing: border-box;
  padding: 0.67vw 1.07vw;
  margin: 0 auto;
  overflow-x: hidden;
  @media screen and (max-width: 1250px) {
    padding: 8px 13px;
  }
  @media screen and (max-width: 740px) {
    width: 100%;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.no-shadows * {
  box-shadow: unset !important;
}

//  body {
//    overflow-x: hidden;
//  }

//  .App {
//    width: calc(100% + 25px);
//  }

.leader-line {
  z-index: 25;
  @media screen and (max-width: 740px) {
    display: none;
  }
}

.mapboxgl-popup-content {
  ::-webkit-scrollbar {
    width: 10px;
  }
}
